* {
	margin: 0px;
	padding: 0px;
}

body {
	font-size: 11px;
	font-family:'lucida grande', Helvetica, Arial;
}

#grid {
	position: absolute;
	z-index: 1000;
	opacity: .5;
	filter: alpha(opacity = 50);
	display: yes;
	top: 0px;
	left: 50%;
	margin-left: -513px;
}

#contenedor {
	width: 940px;
	margin: auto;
	margin-top: 10px;
}

#header {
	font-size: 25px;
	margin-bottom: 14px;
}

a {
	color: #4D4D4D;
	text-decoration: none;
}

#logotipo {
	float: left;
	margin-left: 5px;
	overflow:hidden;
}

#logotexto {
	padding-top: 25px;
	margin-left: 165px;
}

/*#menu {
	width: 940px;
	color: #4D4D4D;
	font-size: 12px;
	min-height: 32px;
	overflow: hidden;
	background-image: url(../img/menubg.png);
}

#menu div a{
	float:left;
	width: 100px;
	padding-top: 10px;
	min-height: 21px;
	text-align: center;
	overflow:hidden;
	border-right: 1px solid #ABABAB;
}

#menu div:last-child a{
	border: none;
}

#menu div a:hover{
	background-image: url(../img/menubga.png);
}

#menu div:first-child a:hover{
	background-image: url(../img/menubgaf.png);
}*/

#menu {
	width: 940px;
	color: #4D4D4D;
	font-size: 12px;
	min-height: 32px;
	overflow: hidden;
	background-image: url(../img/menubg.png);
}

#menulista  a{
	float:left;
	color: #4D4D4D;
	width: 100px;
	padding-top: 10px;
	min-height: 21px;
	text-align: center;
	overflow:hidden;
	border-right: 1px solid #ABABAB;
}

#menulista :last-child a{
	border: none;
}

#menulista a:hover{
	background-image: url(../img/menubga.png);
}

#menulista2 a{
	float:left;
	color: #4D4D4D;
	width: 100px;
	padding-top: 10px;
	min-height: 21px;
	text-align: center;
	overflow:hidden;
	border-right: 1px solid #ABABAB;
}

#menulista2 a:hover{
	background-image: url(../img/menubgaf.png);
}

#menulistalogout a{
	float:left;
	color: #4D4D4D;
	width: 100px;
	padding-top: 10px;
	margin-left: 403px;
	min-height: 21px;
	text-align: center;
	overflow:hidden;
	border-right: 1px solid #ABABAB;
	border-left: 1px solid #ABABAB;
}

#menulistalogout a:hover{
	background-image: url(../img/menubga.png);
}

#banners {
	margin-top: 20px;
	margin-bottom: 20px;
	overflow: hidden;
}

#banners div {
	float: left;
	width: 300px;
	height: 185px;
	margin-right: 20px;
	overflow: hidden;
	background-color: #ABABAB;
}

#banners div:last-child {
	margin-right: 0px;
}

#columnas {
	overflow: hidden;
	margin-top: 43px;    /*  BORRAR DESPUÉS DE CORREGIR -------------------- */
}

#col1 {
	float: left;
	width: 380px;
	overflow: hidden;
	margin-right: 20px;
}

.titulo {
	color: #89A7BD;
	font-size: 11px;
	text-transform: uppercase;
}

#col2 {
	float: left;
	width: 300px;
	overflow: hidden;
	margin-right: 20px;
}

#col3 {
	float: left;
	width: 220px;
	overflow: hidden;
}

#cold {
	margin-top: 5px;
	margin-bottom: 25px;
	overflow: hidden;
}

#cold p {
	margin-top: 10px;
	color: #ABABAB;
	font-size: 11px;
}

#coldimg {
	float: left; 
	width: 112px; 
	height: 72px;
	margin-right: 10px; 
	background-color: #ccc;
}

#mas a{
	color: #919191;
	font-size: 10px;
	text-decoration: underline;
}

.coldtitulo {
	font-size: 12px;
	color: #4D4D4D;
	text-decoration: underline;
}

#noticia {
	margin-bottom: 10px;
}

#noticia p {
	margin-top: 10px;
	color: #ABABAB;
	font-size: 11px;
}

#login {
	width: 220px;
	height: 180px;
	margin-bottom: 20px;
	background-image: url(../img/login.png);
}

#acceso {
	font-size: 10px;
	color: #4D4D4D;
	padding: 25px 0px 15px 10px;
	text-transform: uppercase;
}

#login input{
	border: 0;
	width: 180px;
	height: 16px;
	margin-left: 20px;
	background-color: transparent;
}

#forma {
	width: 200px;
	height: 16px;
	margin-bottom: 5px;
}

#forma2 input{
	width: 155px;
	height: 16px;
	margin-left: 20px;
	margin-bottom: 5px;
}

#login_texto {
	color: #808080;
	font-size: 9px;
	line-height: 12px;
	padding: 35px 20px 20px 20px;
}

#registro {
	color: #777777;
	margin-top: 10px;
}

#registro input {
	height: 18px;
	width: 210px;
	border: none;
	padding-left: 5px;
	background-color: transparent;
}

#rinput {
	background-image: url(../img/tbox.png);
}

#registrar {
	margin-top: 10px;
	text-align: right;
}

#legales {
	color: #919191;
	font-size: 9px;
	line-height: 15px;
	margin-top: 20px;
}

#legales a {
	color: #919191;
}

#legales a:hover {
	color: #4D4D4D;
}

#footer {
	width: 940px;
	min-height: 70px;
}

#buscar {
	float:left;
	width: 122px;
	height: 16px;
	margin-top: 8px;
	margin-left: 10px;
	overflow:hidden;
	background-image: url(../img/buscar.png);
}

#buscar input {
	border: 0;
	height: 16px;
	width: 85px;
	padding: 0px 5px 0px 5px;
	background-color: transparent;
}

select {
	font-size: 11px;
	border: 1px solid #ABABABi;
}